*{
    font-family: "Audiowide", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a1a;
    margin: 0;
    flex-direction: column;
    color: #fff;
    
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px; /* Altura da imagem no rodapé */
    background-image: url('images/fundo3.avif');
    background-size: cover;
    background-position: center bottom;
    opacity: 0.2; /* Ajuste a transparência (0 a 1) */
    -webkit-mask-image: linear-gradient(to top, #0a0a1a 20%, transparent 100%);
    mask-image: linear-gradient(to top, #0a0a1a 20%, transparent 100%);
    z-index: -1; /* Coloca atrás do conteúdo */
}

header {
    position: absolute;
    top: 0;     
    left: 0;   
    display: flex; 
    align-items: flex-start;  
    justify-content: flex-start;  
    width: 100%;
    height: 100px;
}


.titulo{
    
    font-size: 58px;
    color: #00f7ff;
    text-shadow: 0 0 10px #00f7ff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 12px 0 12px 125px;
}

.imagem {
    margin-left: 15px; 
    width: 25%;
    height: auto;
}

#game {

    border: 3px solid #82009c;
    display: grid;
    grid-template-columns: repeat(3,103px);
    gap: 8px;
    margin-top: 130px;
    background-color: rgba(10, 10, 30, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 
        0 0 10px #4e00ff,
        0 0 20px #4e00ff,
        0 0 30px #4e00ff,
        inset 0 0 10px #4e00ff;
       
    
}

.quadrado{

    border: 2px solid #82009c;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgba(20, 20, 50, 0.5);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 
    0 0 5px rgba(78, 0, 255, 0.5),
    inset 0 0 5px rgba(78, 0, 255, 0.3);
}

.quadrado:hover{
    background-color: rgba(78, 0, 255, 0.2);
    box-shadow: 
        0 0 10px #4e00ff,
        inset 0 0 10px #4e00ff;
}

.placar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    font-size: 1.2em;
    opacity: 0.3;       
}



.botao {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;   
}

#reiniciar, #zerar-placar {
    margin: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    animation: pulsar 1s linear infinite;    /* aqui o animation que usa com o keyframes */
    border-radius: 50px;
    background: transparent;
    border: 2px solid #00f7ff;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #00f7ff;
    box-shadow: 0 0 10px #00f7ff, inset 0 0 5px #00f7ff; 
    color: #fff;
}


button:hover{
    scale: 104%;
    background: rgba(0, 247, 255, 0.2);
    box-shadow: 0 0 15px #00f7ff, inset 0 0 10px #00f7ff;
}

/* aqui é uma animação para deixar o botao pulsando, usa ela com o animation da button */
@keyframes pulsar {     
    from, to {
        scale: 100%;
    } 50% {
        scale: 106%;
    }
}



#mensagem {

    margin-top: 18px;
    padding: 28px;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 10px #fa0303;
    letter-spacing: 1px;  
    text-transform: uppercase;
    
}




/* coloca foto no quadrado */
.quadrado img {
    max-width: 76%; /*largura maxima */ 
    max-height: 76%; /* altura maxima */
}


/* Deixao o tabuleiro apagado quando a rodada acaba */

#game.bloqueado{
    opacity: 0.3;
    pointer-events: none; /*impede cliques mesmo se esquecer no JS*/
    transition: opacity 0.3s ease;
}

footer{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}

