body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
#game {
    border: 3px solid rgb(130, 0, 156);
    display: grid;
    grid-template-columns: 103px 103px 103px;
    gap: 3px;
}
.quadrado{
    border: 2px solid rgb(167, 71, 154);
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.botao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    padding-bottom: 50px;
}
button {
padding: 10px 20px;
cursor: pointer;
font-size: 1rem;
}